<section class="profile-page d-flex flex-column align-items-center">
    <%= image_tag (@user.avatar_thumbnail) %>
    <h3>Hi! I'm <%= @profile.first_name %>!</h3>
    <h3>I'm from<%= @profile.state %>
    <% if current_user.id == @profile.user_id %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
    <% end %>

    <p>♥</p> <!-- place holder for heart image -->

    <h3>Here's some of my favourite cards!</h3>
    <div class="cards">

    </div>
</section>