<section class="success container bg-secondary rounded">
    <h1 class="text-white text-center">Congratulations you bought <%= @order.listing.card.name %>!</h1>
    <div class="success__container container d-flex justify-content-center p-0">
        <span id="success--receipt-link"><%= link_to "View Receipt", @order.receipt_url, class: "success__container--receipt" %><span>
    </div>
</section>