<div class="listing-card">
    <section class="listing-card__details">
        <div class="d-flex justify-space-between">
            <h2><%=@card.name%>
        </div>
        <div></div>
    </section>
</div>
