<footer class="text-center text-white fixed-bottom">
    <div class="socials p-3">
    <!-- social links will go here 
    use in-line block for each element
    -->
    </div>

  <!-- Copyright/Credit -->
  <div class="text-center p-3">
    © 2022 Copyright: Ashley Thompson
  </div>
</footer>