<section class="home d-flex align-items-center">
    <div class="home__search d-flex flex-column justify-content-center align-items-center">
        <h1>Pokéhub</h1>
        <!-- search form -->
        <div class="home__search-wrapper md-form active-cyan-2 mb-3">
            <%= form_tag cards_path, :method => 'get' do %>
                 <%= text_field_tag :search, params[:search], class: "home__search-bar form-control", placeholder: "Search for a card or rarity" %>
            <% end %>
        </div>
        <!-- image_tag with random Pokėmon sprite from DB -->
        <%= get_random_card_sprite %> 
    </div>
</section>
