<div class="home d-flex align-items-center">
    <section class="home__search d-flex flex-column justify-content-center align-items-center">
        <h1>Pokéhub</h1>
        <!-- search form -->
        <div class="home__search-wrapper md-form active-cyan-2 mb-3">
            <input class="home__search-bar form-control" type="text" placeholder="Search for a card or rarity " aria-label="Search">
        </div>
        <!-- image_tag with random Pokėmon sprite from DB -->
        <%= get_random_card_sprite %> 
    </section>
</div>
