<section class="trading-card">
    <div class="trading-card__details">
        <h1>Card Show Page</h2>
        <h2><%= @card.name %></h2>
        <h2><%= @card.card_set_id %></h2>
    </div>

    <section class="listing-table"></section>
</section>