<!-- encapsulates card_details & table element -->
<div class="trading-card d-flex flex-column align-items-center pt-3">
    <%= render "card_details" %> <!-- contains card details element -->
    <%= render "large_listings" %> <!-- rendered if large screen -->
    <%= render "mobile_listings" %> <!-- rendered if mobile screen -->
</div>