@import 'variables';
.devise-heading {
    /* page heading */
    text-align: center;
    margin-top: 1rem;
}

#error_explanation {
    /* container that raises errors from devise */
    @include center;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #f8d7da;
    color: #721c24;
    border-bottom: #f5c6cb;
    border-radius: 5px;
}

/* unique style width for edit-user form */
.login form {
    @include devise-form($width: 350px);
    input {
        height: 32px;
    }
}
/* style for edit-user form */
.sign-up form {
    @include devise-form;
    /* 100% for responsiveness */
    input {
        width: 100%;
        height: 32px
    }
}
.edit-user form {
    @include devise-form;
    input {
        width: 100%;
        height: 32px;
    }
}
/* devise form containers */
.sign-up,
.login,
.edit-user {
    @include center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100% - 92px);
    /* link styling */
    a {
        @include link-styling;
    }
    /* delete account block (edit-user) */
    &__delete {
        @include center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        /* container for delete button */
        .button_to {
            @include center;
            padding: 0.5rem;
            margin: 0;
            background: none;
            border: none;
            box-shadow: none;
        }
        /* submit button for delete account action */
        input[type=submit] {
            @include warning-button;
            width: 100px;
        }
    }
}
/* image container block */
.avatar {
    @include center;
    flex-direction: column;
    /* avatar image */
    .user-avatar {
        @include avatar($border-color: $primary);
    }
    /* label which acts as the box for file browsing */
    .file-browse {
        @include center;
        @include generic-button($border-radius: 5px, $width: 80px, $height: 20px);
        margin: 0.5rem;
    }
    /* disabled to create singular label element */
    input[type=file] {
        display: none;
    };
    /* specifies the label width */
    input {
        padding: 0.5rem;
        width: 200px;
    }
}
/* contains the action button (update, create etc) */
.actions {
    @include center;
    flex-direction: column;
    padding: 0.5rem;
    input {
        @include generic-button;
    }
}
