@import 'variables';

// ** Home Page **//
.home {
    width: 100vw;
    min-width: 300px;
    height: calc(100% - 92px);
    &__search {
        // main homepage search block
        padding: 2rem;
        width: 100%;
        &-wrapper {
            // wraps the input element
            width: 100%;
            max-width: 600px;
            min-width: 200px;
        }
        &-bar {
            // input form
            border-radius: 15px;
            background-image: url('./icons8-pokeball-48.png'); // asset from icons8.com
            background-size: 25px 25px;
            background-position: 10px 8px;
            background-repeat: no-repeat;
            font-size: 1.25rem;
            padding: 12px 20px 12px 40px;
        }
    }
    h1 {
        // main header
        font-family: 'Poppins', sans-serif;
        font-size: 6rem;
        color: $primary;
        font-weight: 700;
        letter-spacing: 1px;
        -webkit-text-stroke: 4px adjust-color($secondary, $alpha: 0.7); // webkit supported on all browsers except IE
    }
    .hint-text {
        text-align: center;
    }
}
// **//

/**-- Page Breakpoints **/
/* Mobile Views */
@media screen and(max-width: 500px) {
    .home h1 {
        font-size: 4rem;
    }
}
