@import 'variables';

.home {
    max-width: 800px;
    min-width: 300px;
    min-height: 200px;
    &__search {
        padding: 2rem;
        width: 100%;
        background: $yellow;
        border-radius: 10px;
        &--bar {
            width: 100%;
            max-width: 600px;
            min-width: 200px;
        }
    }
}