// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

.profile {
    width: 100%;
    min-height: calc(100% - 92px);
    &__info {
        @include styled-container($width: 300px);
        margin: 1rem 0;
        max-width: 100%;
        a {
            @include link-styling;
        }
    }
    &__avatar {
        @include avatar($border-color: $primary);
    }
    .fav:hover {
        cursor: auto;
    }
    .fav-cards {
        /* container */
        .cards {
            /* cards wrapper */
            display: flex;
            flex-basis: auto;
        }
        .profile-card {
            /* card elements on the profile page */
            position: relative;
            bottom: 0;
            border-radius: 5px;
            width: 100%;
            height: 250px;
            padding: 0.25rem;
            &:hover {
                /* hover effect for profile card, moves up slightly */
                transition: ease-in-out 0.5s;
                bottom: 20px;
                z-index: 99;
            }
        }
    }
    .fav {
        @include center;
        cursor: pointer;
        border-radius: 100%;
        font-size: 2rem;
        height: 50px;
        width: 50px;
        line-height: 10px; // centers heart text 'icon'
        &:hover {
            background-color: #dc3545;
        }
    }
}
.fav-cards {
    // not working, needs to attach to bottom of the container...
    position: relative;
    bottom: 0;
    left: 0;
}

/* breakpoints */
