// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

.profile {
    width: 100%;
    min-height: calc(100% - 92px);
    &__avatar {
        @include avatar;
    }
    .fav-cards {
        /* cards container */
        display: flex;
        flex-basis: auto;
        .profile-card {
            /* card elements on the profile page */
            position: relative;
            bottom: 0;
            height: 250px;
            &:hover {
                /* hover effect for profile card, moves up slightly */
                transition: ease-in-out 0.5s;
                bottom: 20px;
                z-index: 99;
            }
        }
    }
    .fav {
        @include center;
        cursor: pointer;
        border-radius: 100%;
        font-size: 2rem;
        height: 50px;
        width: 60px;
        line-height: 10px; // ceneters heart text 'icon'
    }
}

.fav-cards {
    // not working, needs to attach to bottom of the container...
    position: relative;
    bottom: 0;
    left: 0;
}
