@import 'variables';

.navbar {
    background: $light-blue;
    &__search--bar {
        width: 33%;
    }
}

footer {
    background: $dark-blue;
    .socials {
        height: 35px;
        background: $red;
    }
}