@import 'variables';

.navbar {
    height: 60px;
    background: $primary;
    border-bottom: 4px solid $secondary;
    &__search--bar {
        width: 33%;
    }
}

/*-- hamburger button --*/
.menu-btn {
    position: fixed;
    top: 0;
    left: 0;
    margin: 5px;
    @include center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 99;
    border-radius: 15px;
    &__burger { // middle line styling
        width: 40px;
        height: 6px;
        background: $secondary;
        border-radius: 5px;
        transition: all .3s ease-in-out;
        &::before { // sets the positioning of before & after lines
            transform: translateY(-13px);
        }
        &::after { // as above
            transform: translateY(13px);
        }
        &::before, &::after { // styling for the before and after lines 
            content: '';
            position: absolute; 
            width: 40px;
            height: 6px;
            background: $secondary;
            border-radius: 5px;
            transition: all .3s ease-in-out;
        }
    }
}

/*-- hamburger animation --*/
// sets positive positioning on x-axis for middle element
.menu-btn.open .menu-btn__burger {
    transform: translateX(50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(-35px, 35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(-35px, -35px);
}

footer {
    background: $secondary;
    .socials {
        height: 35px;
        border-top: 4px solid $secondary;
        background: $red;
    }
}