/** fonts **/
// Home Header
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800;900&display=swap');
// Headings
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// Paragraphs

/** color palette **/
// general palette
$yellow: #fbd743;
$red: #ff1f1f;
$light-blue: #5db9ff;
$dark-blue: #363b81;

// from Pokemon logo
$primary: #ffcc00;
$primary-2: #bd9808;
$secondary: #39549d;

/*-- mixins --*/
@mixin generic-button($width: 100px, $height: 30px, $border-radius: 15px) {
    font-weight: 400;
    width: $width;
    height: $height;
    border: none;
    background: $primary;
    color: darken($primary-2, 20%);
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    &:hover {
        color: $yellow;
        background: darken($primary-2, 4%);
    }
}

@mixin warning-button($width: 100px, $height: 30px, $border-radius: 15px) {
    text-width: $width;
    height: $height;
    border: none;
    background: #f8d7da;
    color: #721c24;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    &:hover {
        color: #f8d7da;
        background: darken(#721c24, 4%);
    }
}

/* allows us so set width x height easily uniformly or specifically */
@mixin avatar($size: 150px, $border-color: $secondary) {
    width: $size;
    height: $size;
    border: 3px solid $border-color;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
    background: #fff;
}
@mixin link-styling {
    color: #fff;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
@mixin center($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin devise-form($width: 600px) {
    height: 100%;
    max-width: 100%;
    width: $width;
    display: flex;
    flex-flow: column;
    padding: 1rem;
    margin: 0 0 1rem;
    color: #fff;
    background: $secondary;
    border: 4px solid $primary;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}
/*--*/

/** effects **/
.hvr-grow {
    transform: scale(1.1);
}
