/** fonts **/
// Home Header
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800;900&display=swap');
// Headings
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// Paragraphs

/** color palette **/
// general palette
$yellow: #fbd743;
$red: #ff1f1f;
$light-blue: #5db9ff;
$dark-blue: #363b81;

// from Pokemon logo
$primary: #ffcc00;
$primary-2: #bd9808;
$secondary: #39549d;

/*-- mixins --*/
@mixin center($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

/** effects **/
.hvr-grow {
    transform: scale(1.1);
}
